<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Pipeline Devops</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Exemplo simples de uma pipeline Devops</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/devops.jpg" alt="Devops">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
						
			<div class="devops-path path">
				<h1>Certificações Cloud</h1>
				<a href="https://www.credly.com/earner/earned/badge/7fc7a7bc-6703-4dc7-b0e7-372661e47418" class="devops-course course">
					<h2>AWS Cloud Practitioner</h2>
				</a><!--
				--><a href="https://www.credly.com/badges/d9b1e1e5-602a-4b4b-b9ba-d9634cfa7398?source=linked_in_profile" class="devops-course course">
					<h2>Azure Fundamentals - AZ 900</h2>
				</a><!--
				--><a href="https://drive.google.com/file/d/1LQh7YkbBrVs0a0abvWVfrYddqmhQKkte/view" class="ops-course course">
					<h2>Oracle Cloud Infrastructure Foundations Associate</h2>
				</a><!--
				--><a href="https://www.credly.com/badges/fb9ac89d-ca66-4cef-84bd-d692b0282204?source=linked_in_profile" class="ops-course course">
					<h2>Splunk Core User</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Certificações Devops</h1>
				<a href="https://gitlab.badgr.com/public/assertions/HUxltybBRIivMjIuswStKQ?identity__email=leandromatpereira@gmail.com" class="ex-course course">
					<h2>GitLab Certified Associate</h2>
				</a><!--
				--><a href="https://www.credential.net/3361d49d-d685-42c6-97ac-9c0d4f8bf706#gs.arng2u" class="ex-course course">
					<h2>Gremlin Certified Chaos Engineering Practitioner</h2>
				</a><!--
				--><a href="https://drive.google.com/file/d/1_5JECa9ylIEITR82FGvGR1ohe2u5Yfv4/view" class="ex-course course">
					<h2>Lpic-1 System Administrator</h2>
				</a><!--
				--><a href="https://drive.google.com/file/d/0B8E-_axUFefdcW5mY2R2YWVmdkU/view?resourcekey=0-od-wQGFtes5tRmsEmwZPuA" class="ex-course course">
					<h2>MTA 98-366 Network Fundamentals</h2>
				</a>
			</div>
		  <br>
		</div>
	</div>

</body>

</html>
